@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 0;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */


.top-bar ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
#top-header-menu li {
    display: inline;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}

.top-bar {
    background: red;
    line-height: 40px;
    height: 40px;
}
.top-bar a {
  color: #fff;
}

.top-bar #social {
  text-align: right;
}


.top-bar #social ul li {
  display: inline;
  margi-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}





.navbar{
  background: #26358c  ;
  border-radius: 0px;
}



nav img{
  border-radius: 50%;
  margin: auto; 
}

nav > span{
  color: #fff !important;
  font-weight: bold;
  font-size: 15px;
}

.navbar-toggler-icon{
  background: #1E90FF !important;
}

navbar-toggler{
  background: #fff !important;
}

nav ul li{
  color: #fff !important;
  margin-right: 15px;
  font-size: 13px;

}

nav ul li a{
  margin-left: 3px;
  color:  #D3D3D3;
  font-size: 15.5px;
  &:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}


.dropdown-menu{
  width: 150px;
}

.dropdown-menu a{
  color: black;
  &:hover {
    color: blue;
    text-decoration: none;
  }
}


.dropdown-menu i{
  margin-left: 10px;
}

#contenu{
  margin-top: 73px !important; 
}







@media only screen and (max-width:767px){
  nav > span{
    margin-left: 10px;
  }

  nav > div{
    justify-content: end;
  }

  nav ul li{
  color: #fff !important;
  margin-right: 13px;
  font-size: 15px;

  }

  nav ul li a{
  margin-left: 3px;
  color:  #D3D3D3;
  font-size: 13px;
  &:hover {
    color: #fff;
    text-decoration: none;
    }
  }

  #offre{
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px

  }

  .navbar-fixed-top {
    position: absolute !important;
    top: 0px;
  }




}



/* Carousel */

#carouselExampleFade{
  position: relative;
  height: 550px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 40px;
  
}


.carousel-inner .carousel-item img{
  height: 550px;
  width: 100%;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}



/* Boutton d'inscription */

.inscrit h1{
  color: rgb(62,57,107) ;
  font-size: 40px;
  line-height: 60px;
  position: relative;
  margin-bottom: 30px;
}

.inscrit h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

#signupnow{
  text-align: center;
  margin-bottom: 30px;
}

#session_password{
  margin-bottom: 15px;
}





/* Offre de Services */

#offre{
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px

}


#etapes{
  background: #F5F5F5 ;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 18px;
}

#etapes h2{
  text-align: left;
  color: black;
  font-weight: bold;
  display: inline;
}


#etapes p{
  margin-bottom:0px;
}

#jumbo {
  text-align: center;
}

#jumbo p{
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  
}

#jumbo a{
  width:190px;
  hight: 18px;
  font-size: 18px;

}




@media only screen and (min-width:768px) and (max-width: 991px){
  div{
    justify-content: right;
  }

  nav > a{
    margin-right: 0px !important;
    padding: 0px 0px !important;
    width: 0.5px;
  }

  nav > span{
    opacity: 80%;
  }
  
}




@media only screen and (min-width:992px) {
  #navbarNavDropdown{
    justify-content: right;
  }

  div img{
    margin-right: 15px;
  }
  
}






/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background:  #26358c ;
  margin-left: -20px; 
  margin-right: -20px; 
}





/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}
