<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #DC143C;">
    <div class="container" style="height: 40px; ">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center" style="margin-top: -15px;">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="color: #fff; font-size: 1.2em;">Connectez-vous sur nos réseaux sociaux !</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right" style="margin-top: 12px">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/projectudeofficial/">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/projectude.expertise/">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Projectude-Expertise</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="text-transform: lowercase;">NOUS METTONS À VOTRE DISPOSITION UNE ÉQUIPE D’EXPERTS AFIN DE VOUS ACCOMPAGNER TOUT AU LONG DE LA PRÉPARATION DE VOTRE PROJET D’ETUDE, LE CHOIX DE VOTRE ORIENTATION, ET L’ACCOMPAGNEMENT DANS VOS DIFFÉRENTES PROCÉDURES D’INSCRIPTION.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Offres et services</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Etude du dossier</a>
        </p>
        <p>
          <a href="#!">Universités & Ecoles</a>
        </p>
        <p>
          <a href="#!">Procédures Campus-France</a>
        </p>
        <p>
          <a href="#!">Demandes de Visas</a>
        </p>
        <p>
          <a href="#!">Votre arrivée en France</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liens Utiles</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Mon compte</a>
        </p>
        <p>
          <a href="#!">Conseils</a>
        </p>
        <p>
          <a href="#!">Evénements</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacts</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Paris, BP 75020, France</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> projectude.expertise@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 33 7 66 82 43 90</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 33 6 66 48 47 74</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://lit-taiga-18148.herokuapp.com"> Projectude-Expertise.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->